<div
  class="row justify-content-md-center"
  style="width: 80%; margin: 50px auto"
>
  <div class="col-md-auto">
    <p class="text-center text-muted">
      Follow me at
      <a
        href="https://github.com/sachin-sn"
        class="link-primary"
        target="_blank"
        style="color: purple"
        >Github</a
      >,
      <a
        href="https://www.linkedin.com/in/sachin-s-nagaraja/"
        target="_blank"
        class="link-success"
        >Linkedin</a
      >
    </p>
  </div>
</div>
