<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="/">Willhire - coding challenge</a>
  <ul class="navbar-nav mr-auto">
    <li class="nav-item">
      <a class="nav-link" href="/">Take survey</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/results">See results</a>
    </li>
  </ul>
</nav>
